/* #region MARK: Page */
/* * {
    outline: 1px solid black;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#A0DDFF, #7189FF);
    height: 100vh;
    width: 100vw;
    color: #624CAB;
}

.title {
    font-size: 3rem;
    margin: 0;
}

.author {
    padding: 20px;
}

a, a:active {
    color: #624CAB;
}

/* #endregion */

/* #region MARK: GameBoard */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 350px;
    background-color: #C1CEFE;
    border-radius: 15px;
    border: 2px solid #758ECD;
}

.turn {
    font-size: 1.5rem;
    margin: 5px 10px;
}

.board {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 2px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    border: 2px solid #7189FF;
    background: #A0DDFF;
    cursor: pointer;
    font-weight: 700;
    border-radius: 15px;
    color: #624CAB;
}

.cell:hover {
    background-color: #7189FF;
    border: 2px solid #A0DDFF;
    transform: scale(1.1);
    transition: 0.3s;
}

.resetBtn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resetBtn > button {
    width: 300px;
    height: 40px;
    background-color: #758ECD;
    color: #A0DDFF;
    font-size: 1.6rem;
    border: 2px solid #624CAB;
    border-radius: 10px;
    cursor: pointer;
}

.resetBtn > button:hover {
    background-color: #7189FF;
    color: #624CAB;
    border: 2px solid #A0DDFF;
    transform: scale(1.1);
    transition: 0.3s;
}

.winner {
    animation-name: scaleText;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: #624CAB;
    background-color: #7189FF;
    border: 2px solid #A0DDFF;
}

@keyframes scaleText {
    0% {
        font-size: 3rem;
    }
    50% {
        font-size: 4rem;
    }
    100% {
        font-size: 3rem;
    }
}

/* #endregion */

/* #region MARK: Colour Palette */
.colourPalette {
    display: grid;
    height: 120px;
    width: 600px;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 15px;
    padding: 0 20px;
}

.palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.palette:hover {
    filter: brightness(0.7);
    transform: translateY(-10px);
    transition: 0.3s;
    cursor: pointer;
    
}

.palette:hover > .colour > #colourID {
    visibility: visible;
    opacity: 1;
    transition: 0.9s;
}

.colour {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colourID {
    visibility: hidden;
}

#colourID, .colourText {
    color: black;
}

.uranianBlue > .colour {
    background-color: #A0DDFF;
}


.vistaBlue > .colour {
    background-color: #758ECD;
}

.periwinkle > .colour {
    background-color: #C1CEFE;
}

.cornflowerBlue > .colour {
    background-color: #7189FF;
}

.royalPurple > .colour {
    background-color: #624CAB;
}
/* #endregion */