/* #region MARK: Page */
/* * {
    outline: 1px solid black;
} */

:root, button {
    font-family: "Chicle", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: radial-gradient(circle farthest-side, #A0DDFF, #7189FF);
    height: 100vh;
    width: 100vw;
    color: #624CAB;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}

.title {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.3rem;
}

.author {
    padding: 20px;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

a, a:active {
    color: #624CAB;
}

/* #endregion */

/* #region MARK: GameBoard */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    width: 350px;
    background-color: #C1CEFE;
    border-radius: 15px;
    border: 2px solid #758ECD;
}

.container, .scoreBoard {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.turn {
    font-size: 2rem;
    margin: 5px 10px;
    padding: 10px 0;
}

.board {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 2px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    border: 2px solid #7189FF;
    background: #A0DDFF;
    cursor: pointer;
    font-weight: 700;
    border-radius: 15px;
    color: #624CAB;
}

.cell:hover {
    background-color: #7189FF;
    border: 2px solid #A0DDFF;
    transform: scale(1.1);
    transition: 0.3s;
}

.resetBtn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.resetBtn > button {
    width: 300px;
    height: 40px;
    background-color: #758ECD;
    color: #A0DDFF;
    font-size: 1.6rem;
    border: 2px solid #624CAB;
    border-radius: 10px;
    cursor: pointer;
}

.resetBtn > button:hover {
    background-color: #7189FF;
    color: #624CAB;
    border: 2px solid #A0DDFF;
    transform: scale(1.05);
    transition: 0.3s ease;
}

.winner {
    animation-name: scaleText;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: #624CAB;
    background-color: #7189FF;
    border: 3px solid #A0DDFF;
}

@keyframes scaleText {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(113, 137, 255, 0.5);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(113, 137, 255, 0.8);
    }
}

/* #endregion */

/* #region MARK: Colour Palette */
.colourPalette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px 20px;
    gap: 15px;
}

.palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.palette:hover {
    filter: brightness(0.7);
    transform: translateY(-10px);
    transition: 0.3s;
    cursor: pointer;
    
}

.palette:hover > .colour > .colourID {
    visibility: visible;
    opacity: 1;
    transition: 0.9s;
}

.colour {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colourID {
    visibility: hidden;
}

.colourID, .colourText {
    color: black;
    text-align: center;
}

.uranianBlue > .colour {
    background-color: #A0DDFF;
}


.vistaBlue > .colour {
    background-color: #758ECD;
}

.periwinkle > .colour {
    background-color: #C1CEFE;
}

.cornflowerBlue > .colour {
    background-color: #7189FF;
}

.royalPurple > .colour {
    background-color: #624CAB;
}
/* #endregion */

/* #region MARK: Scoreboard */
.scoreBoardContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 20px;
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 300px;
    border-radius: 15px;
    background: #C1CEFE;
    border: 2px solid #758ECD;
    padding: 5px 0;
    text-align: center;
}

.scoreBoardLabel {
    font-size: 1.8rem;
    letter-spacing: 10px;
}

.playerXScore, .playerOScore {
    font-size: 1.5rem;
    letter-spacing: 5px;
}

.scoreBoardLabel, .playerXScore, .playerOScore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
}

.activePlayer {
    border: 2px solid #7189FF;
    border-radius: 15px;
    padding: 0 10px;
    transform: scale(1.1);
    transition: 0.3s ease;
}
/* #endregion */